<?xml version="1.0" encoding="utf-8"?>
<JuliaCMS_module_definition>
	<version caption="Версия">1.0</version>
	<comment caption="Описание">Чат</comment>
	<main_script>func.php</main_script>
	<class_name>J_Chat</class_name>
	<css/>
	<js/>
	<admin_caption>chat</admin_caption>
	<admin_css type="array">
		<filename>admin.css</filename>
	</admin_css>
	<admin_js type="array">
		<filename>admin.js</filename>
	</admin_js>
	<disabled>false</disabled>
	<break_after>false</break_after>
	<config caption="Настройка:">
		<display_count>100</display_count>
	</config>
</JuliaCMS_module_definition>
