<?xml version="1.0" encoding="utf-8"?>
<JuliaCMS_module_definition>
	<version caption="Версия">1.0</version>
	<comment caption="Описание">Файловый менеджер</comment>
	<main_script>func.php</main_script>
	<class_name>J_Filemanager</class_name>
	<admin_caption>files</admin_caption>
	<admin_css>admin.css</admin_css>
	<admin_js>admin.js</admin_js>
	<config caption="Настройка:">                          
		<directories type="array" caption="Дополнительные каталоги"></directories>
	</config> 
</JuliaCMS_module_definition>
