<?xml version="1.0" encoding="utf-8"?>
<JuliaCMS_module_definition>
	<version caption="Версия">1.0</version>
	<comment caption="Описание">Авторизация</comment>
	<main_script>func.php</main_script>
	<class_name>J_Auth</class_name>
	<css>auth.css</css>
	<js>auth.js</js>
	<admin_caption>auth</admin_caption>
	<config caption="Настройка:">
		<require_login caption="Пароль обязателен">0</require_login>
		<session_username caption="Переменная сессии">module_auth_user_logged</session_username>
		<database caption="Параметры БД">
			<server_driver caption="Драйвер">sqlite</server_driver>
			<server_host caption="Хост/файл">userfiles/_data_common/cms.sqlite</server_host>
			<server_login caption="Логин"/>
			<server_password caption="Пароль"/>
			<server_db_name caption="База данных"/>
		</database>
		<secret_default caption="Секрет по умолчанию">slkvjgdkjdflkjkgnkhmkjd</secret_default>
		<table caption="Таблица">users</table>
		<login_field caption="Поле с логином">login</login_field>
		<secret_field caption="Поле с секретом">secret</secret_field>
		<md5_field caption="Поле с хешем">md5</md5_field>
	</config>
</JuliaCMS_module_definition>
