<?xml version="1.0" encoding="utf-8"?>
<JuliaCMS_module_definition>
	<version caption="Версия">1.0</version>
	<comment caption="Описание">Управление страницами</comment>
	<main_script>func.php</main_script>
	<class_name>J_Content</class_name>
	<admin_caption>pages</admin_caption>
	<admin_js>admin.js</admin_js>
	<admin_css>admin.css</admin_css>
	<config caption="Настройка:">
		<table caption="Таблица в БД">pages</table>
		<page_404 caption="Страница для ошибки 404">404</page_404>
		<cut_paragraphs caption="Удалять &lt;p&gt; вокруг макросов">1</cut_paragraphs>
	</config>
</JuliaCMS_module_definition>
