* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.upperbuttons-panel {
    background-color: white;
    padding: 4px 0px;
}
.upperbuttons-panel .btn {
    margin-left: 4px;
}

/* main layout */
.layout-outer {
    width: 100%;
    height: 100%;
    padding-top: 44px;
}

.layout-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
}

.layout-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/*****************************************************************************/
/* popup                                                                     */
/*****************************************************************************/
.popup-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-overlay.popup-visible {
    display: flex;
}

.popup-popup {
    min-width: 30%;
    height: auto;
    box-shadow: 0 0 38px 8px black;
    padding: 1.5em;
    max-width: 90%;
    background-color: white;
    position: relative;
}

.popup-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.popup-close:hover {
    background-color: #faa;
}

.popup-close:after,
.popup-close:before {
    content: '';
    display: block;
    width: 32px;
    height: 4px;
    background-color: #c00;
    position: absolute;
}

.popup-close:after {
    transform: rotate(45deg);
    top: 15px;
    left: 1px;
}

.popup-close:before {
    transform: rotate(-45deg);
    top: 15px;
    left: 1px;
}

.popup-content {
    width: 100%;
    height: 100%;
}
/*****************************************************************************/
/*****************************************************************************/
/*                                                                           */
/* PERIODIC TABLE                                                            */
/*                                                                           */
/*****************************************************************************/
/*****************************************************************************/

.periodic-table {
    font-family: verdana;
    width: 100%;
    height: 100%;
}

/*****************************************************************************/
/* element description                                                       */
/*****************************************************************************/
.element-info {
    font-size: 24px;
    width: 20em;
}
.element-info h3 {
    text-align: center;
    margin: 0;
    font-size: 2.5em;
}
.element-info h5 {
    text-align: center;
    margin-top: 0;
    font-size: 1.1em;
    margin-bottom: 1em;
}
.element-info .el-info-item > div {
    display: inline-block;
}
.element-info .el-info-item > div:nth-child(1) {
    width: 69%;
    text-align: right;
    padding-right: 1em;
}
.element-info .el-info-item > div:nth-child(2) {
    width: 30%;
    font-weight: bold;
}
/*****************************************************************************/
/* item (both forms)                                                         */
/*****************************************************************************/

.pt-item[data-color="cyan"] {
    background-color: #7ff;
}
.pt-item[data-color="yellow"] {
    background-color: #ff6;
}
.pt-item[data-color="green"] {
    background-color: #7f7;
}
.pt-item[data-color="magenta"] {
    background-color: #f9f;
}

.pt-item {
    position: relative;
    height: 100%;
}

.pt-item-sign {
    font-size: 3.4vh;
    font-weight: bold;
    padding-left: 4px;
    position: absolute;
    left: 0.1vh;
    top: -0.4vh;
}
.pt-item-number {
    font-size: 2.4vh;
    font-weight: bold;
    position: absolute;
    right: 4px;
    top: 0;
}
.pt-item-mass {
    font-size: 10px;
    position: absolute;
    right: 3px;
    top: 3vh;
}
.pt-item-title {
    width: 100%;
    padding-left: 8px;
    font-size: 1.8vh;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

/* lantanoids - compact form */
.pt-table-2 .pt-item-title {
    font-size: 10px;
    padding-left: 4px;
}
.pt-table-2 .pt-item-sign {
    font-size: 24px;
}

/* some short form */
.pt-short .pt-item-sign {
    font-size: 20px;
}
.pt-short .pt-item-mass {
    text-align: center;
    width: 100%;
    padding: 4px 0px 0px 0px;
}
.pt-short .pt-item-title {
    text-align: center;
    font-size: 10px;
    padding: 2px 0px;
}



/*****************************************************************************/
/* short form commons                                                        */
/*****************************************************************************/

.pt-short {
    position: relative;
    margin: auto;
    width: 100%;
    height: 90%;
}

.pt-short .pt-item {
    position: absolute;
    width: 5.5555%;
    height: 10%;
    border: 1px #777 solid;
}

.pt-short .pt-item[data-period="1"] { top:  0%; }
.pt-short .pt-item[data-period="2"] { top: 10%; }
.pt-short .pt-item[data-period="3"] { top: 20%; }
.pt-short .pt-item[data-period="4"] { top: 30%; }
.pt-short .pt-item[data-period="5"] { top: 40%; }
.pt-short .pt-item[data-period="6"] { top: 50%; }
.pt-short .pt-item[data-period="7"] { top: 60%; }

.pt-short .pt-item[data-period="6"][data-extra-row="1"] { top: 75%; }
.pt-short .pt-item[data-period="7"][data-extra-row="1"] { top: 90%; }

.pt-short .pt-item[data-group="1"]  { left:  0.0000%; }
.pt-short .pt-item[data-group="2"]  { left:  5.5556%; }
.pt-short .pt-item[data-group="3"]  { left: 11.1111%; }
.pt-short .pt-item[data-group="4"]  { left: 16.6667%; }
.pt-short .pt-item[data-group="5"]  { left: 22.2222%; }
.pt-short .pt-item[data-group="6"]  { left: 27.7778%; }
.pt-short .pt-item[data-group="7"]  { left: 33.3333%; }
.pt-short .pt-item[data-group="8"]  { left: 38.8889%; }
.pt-short .pt-item[data-group="9"]  { left: 44.4444%; }
.pt-short .pt-item[data-group="10"] { left: 50.0000%; }
.pt-short .pt-item[data-group="11"] { left: 55.5556%; }
.pt-short .pt-item[data-group="12"] { left: 61.1111%; }
.pt-short .pt-item[data-group="13"] { left: 66.6667%; }
.pt-short .pt-item[data-group="14"] { left: 72.2222%; }
.pt-short .pt-item[data-group="15"] { left: 77.7778%; }
.pt-short .pt-item[data-group="16"] { left: 83.3333%; }
.pt-short .pt-item[data-group="17"] { left: 88.8889%; }
.pt-short .pt-item[data-group="18"] { left: 94.4444%; }

/*****************************************************************************/
/* compact form commons                                                      */
/*****************************************************************************/

/* layout */

.pt-table {
    width: 100%;
    table-layout: fixed;
}
    .pt-table tr {
    }
        .pt-table tr td {
            border: 1px #777 solid;
            overflow: hidden;
            position: relative;
        }
            .pt-table tr td > div {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        

.pt-table-1 {
    height: 82%;
}

    .pt-table-1 col {
        width: 10%;
    }

    .pt-table-1 col:first-child {
        width: 2.2em;
    }

    .pt-table-1 tr  {
        height: 8%;
    }

    .pt-table-1 tr:first-child {
        height: 1.7em;
    }

.pt-table-2 {
    margin-top: 0.60%;
    height: 8%;
}

/* some compact form styling */

.pt-row-caption {
    text-align: center;
    font-size: 20px;
}
.pt-col-caption {
    text-align: center;
    font-size: 20px;
}

.pt-row-caption > div,
.pt-col-caption > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
