<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>новое сообщение с сайта</title>
	<style type="text/css">
	body { font-family: tahoma, verdana, arial; }
	table { border-collapse: collapse; }
	td { border: 1px #ccc solid; padding: 2px 5px; }
	.sub_header { font-weight: bold; text-align: center; }
	.hot { color: red; font-weight: bold; }
	</style>
</head>
<body>

С сайта поступило новое сообщение:<br /><br />

<table>

<tr class="sub_header"><td colspan="2">Контактные данные</td></tr>
<tr><td>Имя</td><td>%feedback-name%</td></tr>
<tr><td>Адрес</td><td>%feedback-contact%</td></tr>

<tr class="sub_header"><td colspan="2">Сообщение</td></tr>
<tr><td colspan="2" class="additional_box">%feedback-message%</td></tr>

</table>

	
</body>
</html>